@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Jost', sans-serif;
}

.site-main-container {
  width: 100%;
  max-width: 1440px;
}

header {
  max-width: 1111px;
  margin: 0px auto;
  padding: 64px 0px 67px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  transition: all 0.4s linear;
}

header h1:hover {
  scale: 1.03;
  text-shadow: 15px 0px 30px #9747ff, -15px 0px 30px #fcaf17;
}

ul {
  display: flex;
  gap: 42px;
  list-style: none;
  position: relative;
}

ul a {
  text-decoration: none;
  position: relative;
  color: #333136;
  transition: all 0.3s linear;
}

/* bottom line animation */

ul li a:hover {
  text-shadow: 15px 0px 20px #9747ff, -15px 0px 30px #fcaf17;
}

ul li a:hover::after {
  width: 100%;
  transition: all 0.3s linear;
}

ul li a::after {
  content: '';
  width: 0px;
  height: 3px;
  bottom: -4px;
  left: 0px;
  border-radius: 100%;
  position: absolute;
  background: linear-gradient(to bottom right, #fcaf17, #9747ff);
}

/* end */

.logo-text {
  display: flex;
  gap: 19px;
  letter-spacing: 5px;
  cursor: pointer;
  color: #333136;
}

/* main content */
.main-content {
  max-width: 1111px;
  height: 1042px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-section {
  width: 100%;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 730px;
  height: 326px;
  display: flex;
  justify-content: space-between;
}

.left-div {
  width: 350px;
  height: 326px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  transition: all 0.3s linear;
  background: linear-gradient(to bottom, #fff8ea, #ffffff);
}

.left-div h2 {
  font-size: 40px;
  color: #e7816b;
}

#color {
  font-weight: bold;
  color: #333136;
}

.texts-1 p {
  font-size: 23px;
  line-height: 1.5;
  color: #333136;
}

.right-div {
  width: 370px;
  height: 326px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  background: linear-gradient(to bottom, #fff8ea, #ffffff);
}

.rigth-image {
  width: 350px;
  height: 326px;
}
/* end */

.above-footer {
  max-width: 1111px;
  height: 292px;
  margin-top: 160px;
  margin: 0px auto;
  position: relative;
  top: 100px;
  padding: 72px 95px 72px 95px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7816b;
}

.text-div {
  width: 459px;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-div h2 {
  font-size: 40px;
  color: #ffffff;
}

.text-div p {
  color: #ffffff;
}

.above-footer button {
  width: 152px;
  height: 56px;
  font-size: 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  border: none;
  transition: all 0.4s linear;
  cursor: pointer;
  color: #333136;
  background-color: #ffffff;
}

.above-footer button:hover {
  background-color: #ffad9b;
  color: #fff;
}

/* start footer */

footer {
  max-width: 1440px;
  height: 393px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1c1e;
}

.footer-container {
  margin-top: 72px;
}

.footer-navigation {
  width: 1111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo-text {
  display: flex;
  gap: 19px;
  letter-spacing: 5px;
  cursor: pointer;
  color: #ffffff;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-bottom-line {
  width: 1111px;
  height: 1px;
  margin-top: 40px;
  background-color: #979797;
}

.text-icons-div {
  width: 100%;
  height: 78px;
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-text {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footer-p1 {
  font-weight: bold;
  opacity: 50%;
  cursor: pointer;
  color: #ffffff;
}

#footer-p2 {
  opacity: 50%;
  cursor: pointer;
  color: #ffffff;
}

#footer-p3 {
  opacity: 50%;
  cursor: pointer;
  color: #ffffff;
}

.center-text {
  width: 350px;
  height: 100%;
  margin-left: -33px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footer-p4 {
  font-weight: bold;
  opacity: 50%;
  cursor: pointer;
  color: #ffffff;
}

#footer-p5 {
  font-weight: bold;
  opacity: 50%;
  cursor: pointer;
  color: #ffffff;
}

#footer-p6 {
  font-weight: bold;
  opacity: 50%;
  cursor: pointer;
  color: #ffffff;
}

.rigth-icons {
  width: 184px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.rigth-icons img {
  cursor: pointer;
  transition: all 0.2s linear;
}

.rigth-icons img:hover {
  scale: 1.2;
}

/* end */
